@font-face{
    src: url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
    font-family: 'Roboto', sans-serif;
}
body{
    height: 200vh;
}
.first-back{
    background:  url("..//img/ilustracion1.png") ;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right top; 
    height: 70vh;
}
.second-back{
    background: url("../img/ilustracion_people.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right top;
    animation: Back-Move 3s infinite ; 
    height: 70vh;
}
@keyframes Back-Move{
    
  0%,100%{ background-position: right 30px;}  
   50% {background-position: right 0;} 
}
header h1 {
    margin-left: 5%;
    margin-top: 0;
    font-family: 'Roboto', sans-serif;
}
header h1 span {

    font-size: 0.5em;
}
header img {
    width: 3vw;
    position: fixed; 
}
header h2{
    font-family: 'Roboto', sans-serif;
    font-size: 4em;
    margin-top: 15%;
    margin-left: 10%; 
}
header p:nth-of-type(1) {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    margin-left: 10%;
}
header p:nth-of-type(2)::after{
    content: "\1f680";
}
header p:nth-of-type(2){
    color: #ff3571;
    font-size: 2em;
    margin-left: 10%;
    margin-top: 10%;
    font-family: 'Roboto', sans-serif;
}
main section:nth-of-type(1) img{
    width: 100vw;
    margin-top: 20%;
}
main section:nth-of-type(2) h3{
    font-size: 3em;
    width: 30vw;
    margin-right: 0;
}
main section:nth-of-type(2) table{
    width: 100vw;
    margin-top: 10%;
    margin-bottom: 20%;
}
main section:nth-of-type(2) table td:nth-of-type(1){
    padding-left: 10%;
}


main section:nth-of-type(3) h4{
    font-size: 3em;
    margin-left: 10%;
}
main section:nth-of-type(3) table {
    margin-top: 10%;
}

main section:nth-of-type(3) table img{
    width: 1.5vw;
    float: left;
    padding-right: 5%;
}
main section:nth-of-type(3) table td p:nth-of-type(1){
    margin-top: 0;
    font-weight: bold;
} 

main section:nth-of-type(3) table td{
    width: 40vw;
    
}

main section:nth-of-type(3) table {
    margin-left: 10%;
}
main section:nth-of-type(3) table td p:nth-of-type(2){
    margin-left: 9%;
    margin-bottom: 30%;
} 

main section:nth-of-type(4) h4:nth-of-type(1){
    text-align: center ;
    font-size: 4em;
}

main section:nth-of-type(4) p:nth-last-of-type(1){
    text-align: center ;
    font-size: 2em;
}

main section:nth-of-type(5) {
    margin-top: 30%;
}

main section:nth-of-type(5) article{
    margin-bottom: 20%;
}


main section:nth-of-type(5) article:nth-of-type(1){
    background-image: url("../img/step01.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 50vh;
    margin-left: 10%;
}
main section:nth-of-type(5) article:nth-of-type(2){
    background-image: url("../img/step02.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    margin-right: 10%;
    height: 50vh;
   
}
main section:nth-of-type(5) article:nth-of-type(3){
    background-image: url("../img/step03.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 50vh;
    margin-left: 10%;
}
main section:nth-of-type(5) article:nth-of-type(4){
    background-image: url("../img/step04.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    margin-right: 10%;
    height: 50vh;
   
}

main section:nth-of-type(5) h5{
    font-size: 5em;
    color: #dddddd;

}
main section:nth-of-type(5) p{
    font-size: 1.2em;
}


main section:nth-of-type(5) article:nth-of-type(1) h5,
main section:nth-of-type(5) article:nth-of-type(3) h5 ,
main section:nth-of-type(5) article:nth-of-type(1) p ,
main section:nth-of-type(5) article:nth-of-type(3) p,
main section:nth-of-type(5) article:nth-of-type(1) img ,
main section:nth-of-type(5) article:nth-of-type(3) img 
{
    margin-left: 50%;
}
main section:nth-of-type(5) article:nth-of-type(2) h5,
main section:nth-of-type(5) article:nth-of-type(4) h5 ,
main section:nth-of-type(5) article:nth-of-type(2) p ,
main section:nth-of-type(5) article:nth-of-type(4) p,
main section:nth-of-type(5) article:nth-of-type(2) img ,
main section:nth-of-type(5) article:nth-of-type(4) img 
{
    margin-left: 10%;
}

main section:nth-of-type(6){
    margin-top: 10%;
    margin-bottom: 10%;
}

main section:nth-of-type(6) h6 {
    text-align: center;
    font-size: 4em;
    margin-bottom: 0;
}
main section:nth-of-type(6) p{
  text-align: center;
  font-size: 2em;
}

input {
    width: 50vw;
    height: 5vh;
    margin-left: 25%;
    margin-top: 2%;
    text-align: center;
    font-size: 1.2em;
    border: 1px solid #fff;
    border-radius: 10px;
    box-shadow: 5px 5px 40px #b3b1b1;
    
}
button{
    width: 30vw;
    height: 5vh;
    margin-left: 35%;
    margin-top: 3%;
    border: 1px solid #fff;
    border-radius: 10px;
    background-color: #f74c7f;
    color: #fff;
    font-size: 1.3em;


    
}